@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');



/* ------------------------- Website Themes -------------------------- */
:root{
    --hue-1:257;
    --hue-2:47;
    --bg-color: hsl(var(--hue-1),100%,97%);
    --main-color-1: hsl(var(--hue-1),100%,60%);
    --main-color-dark-1: hsl(var(--hue-1),69%,50%);
    --main-color-2: hsl(var(--hue-2),100%,61%);
    --main-color-dark-2: hsl(var(--hue-2),82%,55%);
    --bg-color-1: hsl(var(--hue-1),100%,97%);
    --bg-color-2: #fff;
    --bg-color-1: hsl(var(--hue-1),100%,98%);
    --bg-color-transparent: rgba(255,255,255,0.6);
    --heading-color: hsl(var(--hue-1),61%,2%);
    --text-color: hsl(var(--hue-1),17%,63%);

}


/* ----------General Styles ------------ */


*,
*::before,
*::after {
    padding :0;
    margin: 0;
    box-sizing: border-box;


}
body{
  
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
}

::selection{
    background-color: var(--main-color-1);
    color:#fff;

}
a{
    text-decoration: none;

}
ul{
    list-style-type: none;
    
}
/* ------------------------- Reusable CSS code -------------------------- */

.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.logo{
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;

}
.logo span{
    color: var(--main-color-1);
}
/* ------------------------- Navbar Styling -------------------------- */


header{
    position: fixed;
    top :0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
  
    
}


nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header.scrolled{
    background-color: var(--bg-color-transparen)t;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

.links{

   
    display: flex;
    flex: 1;
    justify-content: space-between;

}
.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-link{
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color:var(--text-color);
    font-weight: 500;
    opacity:0.9;
    transition: 0.7s;

}
.nav-link:hover {
    color: var(--heading-color);
}

.nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
}
.toggle-btn{
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.toggle-btn:hover{
    filter: brightness(97%);

}
